# Ignore raw and processed data
data/raw/
data/processed/

# Track PNG images inside reports
!reports/
!reports/**/*.png

# Ignore all other report files
reports/**/*.csv
reports/**/*.txt
reports/**/*.log

# Python cache
__pycache__/
*.pyc

# MacOS metadata
.DS_Store

# Jupyter notebooks checkpoints
*.ipynb_checkpoints

